*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
}

.header {
  background-color: #005085;
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.head-right {
  display: flex;
  align-items: center;
}

.country,
.language,
.currency {
  display: flex;
  align-items: center;
  width: 100px;
  background-color: transparent;
}

.country select,
.language select,
.currency select {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.arabic {
  color: white;
}

/* header ends here */

.nav {
  width: 100%;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1aa9e5;
}

.logo h1 {
  font-size: xx-large;
  margin-left: 5px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links li {
  list-style: none;
  margin: 10px;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.navbar-links select {
  outline: none;
  border: none;
  font-size: 14px;
}

.start {
  display: flex;
  align-items: center;
}

.start #login {
  font-size: 14px;
  outline: none;
  border: none;
  margin-right: 20px;
  background-color: transparent;
}

.start #started {
  font-size: 14px;
  letter-spacing: 0.1rem;
  background-color: #1aa9e5;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

#started img {
  margin-left: 10px;
}

/* navbar ends here */

.hero {
  background-color: #f5f6fb;
  width: 100%;
  height: 70vh;
}

.hero-main {
  position: relative;
}

.hero .container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero-left {
  margin-left: 140px;
  margin-top: -140px;
}

.hero-car img {
  margin-top: -80px;
  margin-bottom: 0;
  overflow-y: hidden;
  height: 700px;
}

.hero-nav {
  position: absolute;
  top: 40%;
  left: 18%;
  background-color: transparent;
  border: none;
  outline: none;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.search-container input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 20px 20px;
  font-size: 16px;
}

.search-container button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

.pickDate,
.time {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
.pickDate img,
.time img {
  margin-right: 10px;
}
.pickDate small,
.time small {
  color: #919090;
  font-weight: 600;
  line-height: 30px;
}

#search-box {
  background-color: #1aa9e5;
  padding: 40px 30px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero2 {
  width: 100%;
  background-color: white;
  height: 60vh;
}

.hero2-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  margin: 100px auto;
  height: 150px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), 20px 20px 15px rgba(0, 0, 0, 0.1);
}

#whyUs {
  width: 90%;
  margin: auto;
  margin-top: 13%;
}

#whyUs h1 {
  font-size: 50px;
  width: 450px;
}

#whyUs h1 span {
  background-image: linear-gradient(
    to right,
    #e65425,
    #e96d2a,
    #ec8334,
    #ee9841,
    #f0ab51,
    #ee9841,
    #ec8334,
    #e96d2a,
    #e65425,
    #e96d2a,
    #ec8334,
    #ee9841,
    #f0ab51
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero2-nav .sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px;
  border-right: 1px solid #7c7c7c;
}

.sub#last {
  border: none;
}

#whyUs h2 {
  font-weight: bold;
  color: #1aa9e5;
  font-size: 45px;
  margin: 0 10px;
}

#whyUs h3 {
  color: #626262;
  width: 150px;
  font-size: 24px;
  margin: 0 10px;
}

.car-city {
  width: 80%;
  margin: auto;
}

.city {
  display: inline-flex;
  align-items: center;
}

.city h1 {
  font-weight: 600;
  font-size: 32px;
}

.city select {
  color: #1aa9e5;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 28px;
}

.car-city .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.city-card {
  width: 24%;
  align-items: center;
}

.city-card > * {
  text-align: center;
  margin-top: 8px;
}

.city-card p {
  color: #626262;
  font-size: 20px;
}

.select-city {
  margin: 60px auto;
  width: fit-content;
}

.select-city button {
  border: 1px solid #1aa9e5;
  padding: 8px 60px;
  background-color: white;
  color: #1aa9e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.select-city button img {
  color: #1aa9e5;
}

.select-city p {
  font-size: 20px;
  margin-right: 20px;
}
/* sections ends */

.car-selection {
  width: 100%;
  background-color: #fffcf7;
}

.content {
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 80px 0;
}

.content h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.content p {
  font-weight: lighter;
  font-size: 14px;
  line-height: 25px;
}

.dropdowns-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dropdowns-menu select {
  padding: 15px 35px;
  background-color: transparent;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1), -2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #919090;
  /* appearance: none; */
  /* Hide the default dropdown arrow */
}

.dropdowns-menu select option {
}

.carousel-container {
  width: 80%;
  margin: auto;
  position: relative;

  overflow: hidden;
  white-space: nowrap;
}

.card-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
  padding: 50px 5px;
  width: 100%;
  max-width: 200%;
  margin: auto;

  white-space: nowrap;
  animation: scrollAnim 8s linear infinite;
}
/* 
@keyframes scrollAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* Define animations for left and right scrolling */
.carousel-control[data-scroll="left"] + .carousel-control {
  animation: none; /* Disable the right scroll animation by default */
}

.carousel-control[data-scroll="left"]:active + .carousel-control,
.carousel-control[data-scroll="right"]:active + .carousel-control {
  animation: none; /* Disable the animation during button click */
}

.carousel-control[data-scroll="left"]:active
  ~ .scroll-container
  .scroll-content {
  animation: scrollLeftAnim 2s linear infinite;
}

.carousel-control[data-scroll="right"]:active
  ~ .scroll-container
  .scroll-content {
  animation: scrollRightAnim 2s linear infinite;
}

@keyframes scrollLeftAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scrollRightAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card-carousel .card {
  background-color: white;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 270px;
}

.card h2,
.card h3 {
  text-align: start;
  margin: 14px 6px 10px 10px;
}

.card h2 {
  color: #005085;
  font-size: 24px;
  margin-bottom: 15px;
}

.card h3 span {
  font-size: small;
  color: #919090;
}

.card-center {
  width: 240px;
  margin-bottom: 10px;
}

.card p {
  color: white;
  padding: 15px 40px;
  margin: -8px;
  background-color: #1aa9e5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#carousel-controlLeft {
  position: absolute;
  left: 2%;
  top: 43%;
}
#carousel-controlRight {
  position: absolute;
  right: 2%;
  top: 43%;
}

.carousel-controls button {
  background-color: white;
  padding: 5px 8px;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1), -2px 2px 15px rgba(0, 0, 0, 0.1);
}

.carousel-controls button:hover {
  cursor: pointer !important ; /* cursor: pointer is a property of CSS */
}

/* sections ends */

.banner {
  width: 90%;
  background-color: white;
  margin: 60px auto;
}

.banner img {
  width: 100%;
}

/* sections ends */
.services {
  width: 100%;
  background-color: white;
}

.services-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 100px;
}

.left-container {
  width: 50%;
}

.right-container {
  width: 50%;
}

.content-services h4{
  font-weight: light;
  letter-spacing: -0.01rem;
  font-size: 22px;
  color: #005085;
  margin-bottom: 10px;
}

.content-services h1{
  font-size: 36px;
  max-width: 400px;
  margin-bottom: 20px;
}

.content-services p{
  color: #919090;
  line-height: 30px;
  max-width: 400px;
  margin-bottom: 20px;
}

.content-services h1 span {
  background-image: linear-gradient(
    to right,
    #e65425,
    #e96d2a,
    #ec8334,
    #ee9841,
    #f0ab51,
    #ee9841,
    #ec8334,
    #e96d2a,
    #e65425,
    #e96d2a,
    #ec8334,
    #ee9841,
    #f0ab51
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row1,.row2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.component {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.comp-img img{
  width:60px;
  margin-right: 20px;
}